.main-heading{
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}
.hero{
  position: absolute;
  top: 90px;
  width: 100%;
  overflow-x: hidden;
  padding: 15px;
  margin: 100px 0;
  overflow: hidden;
}
.hero-bg{
  position: absolute;
  top: 0px;
  right: -150px;
  width: 300px;
  height: 400px;
  background: linear-gradient(to right, rgba(66, 83, 205,0.93), rgba(80, 189, 175,0.93)),url("../../assets/img/worldMap.png");
  border-radius: 70px;
  overflow-x: hidden;
  z-index: -1;
  transform: rotate(-50deg);
}
.hero-content{
  width: 100%;
  word-wrap: break-word;
}
.title{
  font-size: 37px;
  color: #20509e;
  font-weight: 500;

}
.title span{
  color: #17a2b8;
}
.para{
  margin: 30px 0;
  color: #75849a;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 25px;
  max-width: 400px;
}
form{
  display: flex;
  flex-direction: column;
}
.hero-content form input[type=text]{
  width: 280px;
  height: 45px;
  border-radius: 100px;
  background-color: rgba(117, 132, 154, 0.17);
  border: none;
  padding: 0 15px;
  outline: none;
  color: #75849a;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 20px 20px 0;
}
:placeholder{
  color: #75849a;
  font-weight: 500;
}
.hero-content form input[type=submit]{
  width: 170px;
  height: 45px;
  border-radius: 100px;
  background: linear-gradient(to right, rgb(66, 83, 205), rgb(80, 189, 175));
  border: none;
  padding: 0 15px;
  outline: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  cursor: pointer;
}
.hero-img {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.hero-img img{
  width: 100%;
  max-width: 430px;
}


@media only screen and (min-width: 600px) {
  form{
    flex-direction: row;
  }
  .hero-bg{
    top: -20px;
    right: -200px;
    width: 400px;
    height: 500px;
    background: linear-gradient(to right, rgba(66, 83, 205,0.93), rgba(80, 189, 175,0.93)),url("../../assets/img/worldMap.png");
    border-radius: 70px;
    overflow-x: hidden;
    z-index: -1;
    transform: rotate(-50deg);
  }
  .hero-content{
    padding: 50px 70px;
  }
}
@media only screen and (min-width: 750px) {
  .hero-content form{
    flex-direction: row;
  }
  .hero-bg{
      background: linear-gradient(to right, rgba(66, 83, 205,0.93), rgba(80, 189, 175,0.93)),url("../../assets/img/worldMap.png");
    width: 600px;
    height: 950px;
    top: -280px;
    right: -250px;
    z-index: -1;
    transform: rotate(-51deg);
    border-radius: 55px;
  }
}

@media only screen and (min-width: 850px) {
  .hero-content form{
    flex-direction: column;
  }
  .hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 0px 50px;
  }
  .hero-content{
    width: 50%;
    padding: 0;
  }
  .hero-img{
    width:50%;
  }
  .hero-img img{
    width: 400px;
  }
  .hero-bg{
    width: 600px;
    height: 1100px;
    top: -300px;
    right: -250px;
  }
}


@media only screen and (min-width: 1050px) {
  .hero-content form{
    flex-direction: row;
  }
  .hero-img img{
    width: 400px;
  }
  .hero-bg{
    width: 700px;
    height: 1400px;
    top: -400px;
    right: -350px;

  }
}


@media only screen and (min-width: 1150px) {
  .hero-content form{
    flex-direction: row;
  }
  .title{
    font-size: 60px
  }
  .hero-img,.hero-content{
    width: 500px;
  }
  .hero-img img{
    width: 450px;
  }
  .hero-bg{
    width: 1050px;
    height: 1500px;
    top: -580px;
    right: -600px;

  }
}













/* dsd */
