nav{
  position: absolute;
  top: 0;
  height: 90px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: white;
}
.des-menu{
  display: none;
}
.mob-menu{
  position: absolute;
  top: 90px;
  width: 100%;
  height: 0;
  padding: 0 15px;
  background-color: white;
  overflow: hidden;
  transition: 600ms;
}
.mob-menu.open{
  height: 246px;
}
.mob-menu-items{
  width: 100%;
}
.mob-menu-item{
  position: relative;
  width: 100%;
  padding: 15px 5px;
  cursor: pointer;
  border-radius: 5px
}
.mob-menu-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background-color: rgb(219,215,210);
  display: inline-block;
}
.mob-menu-link{
  text-transform: capitalize;
  font-size: 14.5px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #20509e;
}
.mob-menu-item:hover{
  background-color: #20509e;
  color: white;
}
.mob-menu-item:hover .mob-menu-link{
  color: white;
}

.mob-spceial{
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-user{
  fill:rgb(52, 52, 52);
  font-size: 22px
}
.mob-menu-toggler{
  cursor: pointer;
}
.mob-menu-toggler .line{
  width: 25px;
  height: 4px;
  background-color: rgb(52, 52, 52);
  border-radius: 4px;
  transition: 500ms;
}
.mob-menu-toggler .line:nth-child(2){
  margin: 4px 0
}
/* animating toggle menu */
.animated{
  transform: rotate(-90deg);
  transition: 500ms;
}
.animated .line{
  width: 15px;
}
.animated .line:nth-child(2){
  display: none;
}
.animated .line:nth-child(1){
  transform: rotate(45deg);
  margin-top: 5px;
}
.animated .line:nth-child(3){
  transform: rotate(-45deg);
  margin-top: 5px;

}


@media only screen and (min-width: 750px) {
  nav{
    padding: 0 30px;
    background-color: transparent;
  }
  .mob-menu{
    display: none;
  }
  .mob-spceial{
    display: none;
  }
  .des-menu{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .des-menu-items{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .des-menu-item{
    margin: 0 12px;
  }
  .des-menu-link{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
  }
  .des-menu-btn{
    width: 140px;
    height: 40px;
    border-radius: 100px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    margin-left: 8px;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1050px) {

  .des-menu-item{
    margin: 0 25px;
  }
  .des-menu-btn{
    margin-left: 25px;
  }

}
@media only screen and (min-width: 1150px) {
  .des-menu-item{
    margin: 0 32px;
  }
  .des-menu-btn{
    margin-left: 32px;
  }
}





















/* a? */
