nav{
  height: 90px;
  width: 100%;
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
.des-menu{
  display: none;
}
.mob-icon{
  display: flex;
  width: 65px;
  justify-content: space-between;
  align-items: center;
}
.sign-icon{
  fill : #333333;
  font-size: 20px
}
.mob-menu-toggle .line{
  width: 25px;
  height: 4px;
  background-color: #333333;
  margin: 4px 0;
  border-radius: 10px;
}
.mob-menu{
  width: 100%;
  height: 0px;
  padding: 0 15px;
  background-color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
  z-index: 15;
  transition: 600ms;
  transform-origin: top;
  overflow: hidden;
}
.mob-menu.open{
  height: 250px;
  z-index: 15;
}
.mob-menu-items{
  width: 100%;
  height: 100%;
}
.mob-menu-item{
  width: 100%;
  padding: 15px 10px;
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}
.mob-menu-item:hover{
  background-color: rgb(69, 83, 205);
  box-shadow: 0px 5px 10px rgba(117, 132, 154, 0.6);
}
.mob-menu-item:active{
  background-color: rgb(69, 83, 205);
  box-shadow: 0px 0px 00px rgba(117, 132, 154, 0.6);
}
.mob-menu-item:hover .mob-menu-item-link{
  color: white;
}
.mob-menu-item::after{
  content: '';
  position: absolute;
  top: 0px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: rgba(117, 132, 154, 0.4);
  display: inline-block;
}
.mob-menu-item-link{
  color: rgb(69, 83, 205);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}





@media (min-width: 550px) {

}


@media (min-width: 770px) {
  nav{
    padding: 0 30px;
  }
  .mob-icon{
    display: none;
  }
  .des-menu{
    display: flex;
    width: 68%;
  }
  .des-menu-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .des-menu-item{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
  }
  .des-menu-item-btn{
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyBlue;
    color: white;
    border-radius: 100px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
  }

}
@media (min-width: 900px) {
  .des-menu{
    display: flex;
    width: 61%;
  }
}

@media (min-width: 1000px) {
  .des-menu{
    display: flex;
    width: 50%;
  }
}

@media (min-height: 850px) {
  
}











/*sdfsdfd*/
